* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font: normal bold 16px/normal tahoma;
}

article {
  width: 50%;
  text-align: center;
  background-color: #68b04d;
  border-radius: 10px;
  margin: 50px auto 20px;
  padding: 30px;
  transform: translate(0px, 100px);
  overflow: hidden;
  box-shadow: 3px 3px 10px #ccc;
}

.App {
  margin: 30px;
}

article h3 {
  padding: 10px;
  color: #fff;
  font-size: 30px;
  font-family: cursive;
}
article .count {
  padding: 5px;
  margin-bottom: 15px;
}
article #timer{
  padding: 10px;
  color: crimson;
  background-color: aliceblue;
  border-radius: 2px;
  font-size: 30px;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 15px 10px; */
  cursor: pointer;
  border-radius: 5px;
}

.button1 {
  background-color: #e7e7e7; 
  color: black;
} /* Gray */ 



@media only screen and (max-width: 600px) {
  article {
    width: 100%;
  }

  article h3 {
    padding: 11px;
    font-size: 29px;
  }


}